.contPers{
    background-color: rgb(97, 248, 97);
    color: rgb(4, 87, 4);
    border: 1px double;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    padding: 40px;
    text-align: center;
}

.erroSenha{
    color: red;
}

.senhavalida{
    color: rgb(4, 87, 4);
}